@page
@using Genesis.Attendance.Localization
@using Genesis.Attendance.Web.Pages.Attendance.Attendance
@using Microsoft.Extensions.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@model UpdateModalModel
@inject IStringLocalizer<AttendanceResource> L
@{
    Layout = null;
}
<form asp-page="/Attendance/Attendance/UpdateModal">
    <abp-modal>
        <abp-modal-header title="Update @L["Menu:Attendance"].Value"></abp-modal-header>
        <abp-modal-body>
            <abp-input asp-for="Id" />
            <abp-input asp-for="modelDto.Name" />
            <abp-input asp-for="modelDto.ShortName" />
            <abp-input asp-for="modelDto.IsActive" />
        </abp-modal-body>
        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form>
